html {
    font-size: 18px;
}

body {
    background-color: black;
    margin: auto;
}

header {
    width: 100%;
    background-color: darkorange;
    color: slateblue;
    z-index: 1;
    position: fixed;
    border-bottom: 5px solid khaki;
    text-align: center;
}

header .top {
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
}

header .logo {
    font-size: 2rem;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Della Respira';
}

header .nav {
    display: block;
}

header .nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav li {
    font-style: italic;
}

.nav a {
    text-decoration: none;
    color: orange;
}

.main {
    position: relative;
}

#mission {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    text-align: center;
}

.obj {
    color: aquamarine;
}

.obj h3 {
    font-size: 2rem;
    font-family: 'Audiowide';
    font-weight: bolder;
}

#games {
    margin: auto;
    text-align: center;
    color: springgreen;
}

#games h3 {
    font-weight: bolder;
    font-size: 2.3rem;
    font-style: italic;
    font-family: 'Audiowide';
    border: 8px solid rebeccapurple;
    border-radius: 15px;
}

.core {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    border: 3px solid blue;
    justify-content: center;
    flex: 0 1 100px;
    border-radius: 10px;
}

.list img {
    width: 360px;
    height: 300px;
}

.side {
    margin: auto;
    text-align: center;
}

.other {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 0 1 50px;
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px solid palegreen;
}

.secondary img {
    width: 200px;
    height: 200px;
}

#heroes {
    margin: auto;
    width: 80%;
}

.main h2 {
    font-family: 'Audiowide';
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: underline;
}

.eco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.eco img {
    width: 250px;
    height: 200px;
}

footer {
    background-color: black;
    color: deeppink;
}

.end {
    font-size: .9rem;
}

#social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}

.facebook, .twitter, .instagram {
    width: 100px;
    height: 100px;
}