html {
    font-size: 19px;
}

body {
    background-color: black;
    margin: auto;
}

header {
    width: 100%;
    background-color: rgb(250, 113, 0);
    color: slateblue;
    z-index: 1;
    position: fixed;
    border-bottom: 10px solid khaki;
    text-align: center;
}

header .top {
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
}

header .logo {
    font-size: 2rem;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Della Respira';
}

header .nav {
    display: block;
}

header .nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav li {
    font-style: italic;
}

.nav a {
    text-decoration: none;
    color: black;
}

.main {
    position: relative;
}

#mission {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/j&dbg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 59rem;
}

.obj {
    color: aquamarine;
    left: 0%;
    position: relative;
    top: -220px;
    background-color: black;
    font-size: 1.1rem;
}

.obj h3 {
    font-size: 2rem;
    font-family: 'Audiowide';
    font-weight: bolder;
    text-decoration: underline;
}

#games {
    margin: auto;
    text-align: center;
    color: springgreen;
}

#games h3 {
    font-weight: bolder;
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Audiowide';
    border-radius: 15px;
    text-decoration: underline;
}

.core {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    border: 5px solid blue;
    justify-content: center;
    flex: 0 1 100px;
    border-radius: 10px;
}

.list img {
    width: 360px;
    height: 300px;
}

.side {
    margin: auto;
    text-align: center;
}

.other {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 0 1 50px;
}

.secondary {
    border: 5px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    flex: 0 1 100px;
    border-radius: 10px;
}

.secondary img {
    width: 350px;
    height: 300px;
}

#heroes {
    margin: auto;
    border-bottom: 5px solid wheat;
}

.leads {
    padding: 3rem;
}

.main h2 {
    font-family: 'Audiowide';
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: underline;
    color: springgreen;
}

.eco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.eco img {
    width: 250px;
    height: 200px;
}

footer {
    background-color: black;
    color: deeppink;
}

.end {
    font-size: .9rem;
    text-align: center;
}

#social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}

.facebook, .twitter, .instagram {
    width: 100px;
    height: 100px;
}

h2 {
    text-align: center;
}

h3 {
    color: springgreen;
    font-size: 2rem;
    text-decoration: underline;
}

.secondary h2 {
    color: springgreen;
}

.list p {
    color: lightgreen;
}

@media only screen and (max-width: 600px) {
    .footer {
        color: skyblue;
    }

    .list, .secondary {
        border: 7px solid blueviolet;
    }

    body {
        font-size: 21px;
    }

    .nav a {
        background-color: black;
        border-radius: 5px;
        padding: 15px;
        color: aliceblue;
    }

    header .nav li {
        display: flex;
        justify-content: space-evenly;
        padding: 2px;
    }

}